<div style="margin-left: 16px;">
    <h1>Musicians term of service,</h1>
    <hr/>
    <h3>NEW_APP_NAME musicians agreement</h3>
    <p>By using NEW_APP_NAME, you are agreeing to be bound by the following term and condition (the “Agreement”).</p>
    <p>By clicking the applicable "I have read & agree to the musicians term of service." save button, you hereby agree to the Agreement.</p>

    <h5 style="margin-bottom: 24px;">All regular <a href="terms">terms and conditions</a> still apply, these are just additional terms that all musicians using NEW_APP_NAME must abide to.</h5>

    <h4>1.NEW_APP_NAME is not liable for anything that happens off our site.</h4>
    <p>MI Agent's sole purpose is to give you the tools to contact other users, whatever happens when you are not using MI Agent will be up to you. MI Agent IS NOT LIABLE for any damages or repercussions off site.</p>

</div>