<div>
    <style>
        .outer-div {
            display: flex; justify-content: center; height: 100%; width: 100%;
        }

        .inner-div {
            display: flex; justify-content: center; flex-direction: column;
            
            width: 80%; height: 100%;
        }

        .logo-top {
            max-width: 60%;
            max-height: 60%;
            padding: 23.8px;
            margin-left: 20.5%;
        }

        .header {
            display: flex; justify-content: center; flex-direction: column;
            height: 100%; width: 100%; 
        }

        .paragraph-image {
            display: flex; flex-direction: column; margin-top: 24px;
        }

        .people-images {
            max-width: 90%;
            max-height: 80%;
            margin-left: 2%;
            border-radius: 40px;
        }
        
        .zero-percent {
            font-size: 200px;
            font: green;
        }

        .get-started-button {
            max-height: 80px;
            max-width: 115px;
            color: white;
            background-color: green;
            padding: 16px;
            margin-top: 24px;
            margin-bottom: 10px;
            border-radius: 10px;
        }
    </style>

    <div class="outer-div">
        <div class="inner-div">
            <!-- Header -->
            <div class="header">

                 <div style="padding: 16px;">
                    <h1 class="text-center">Welcome, to Mi Agent</h1>
                    <h4 class="text-center">(my • agent)</h4>
                 </div> 

                 <div>
                    <img src="images/app-logo.png" class="logo-top">
                    <h3 class="text-center" style="margin-bottom: 10px;">
                        Working hard to connect musicians with music lovers. This is live music easier than ever. <br> <a href="/signin">Let's Go</a>    
                    </h3>
                    <hr/>
                 </div>
            </div>
            <!-- Header -->

            <!-- Section for Music lovers -->
            <div style="margin-top: 45px;">
                <h1>For music lovers,</h1>
                <h5>
                    (Skip if you're a musician)
                </h5>
                <!-- First paragraph -->
                <div class="paragraph-image">
                    <h4>
                        Here at Mi Agent we know it’s not the easiest thing to get live music for an event, whether it’s too pricey, or just not right, this is something that we feel should be fixed. This is why you need Mi Agent, Mi Agent lets you communicate directly with musicians so that you get what you're looking for, no middle man.
                    </h4>
                    <img class="people-images" src="images/crowd.jpeg">
                </div>
                <!-- First paragraph -->
                <hr/>
                <!-- Second paragraph -->
                <div class="paragraph-image">
                    <h3>
                        Typical agencies take roughly 10% of commissions everytime you book a band. Mi Agent, takes nothing.                    
                    </h3>
                    <div class="zero-percent">
                        0%
                    </div>
                </div>
                <!-- Second paragraph -->
                <hr/>
                <!-- Third paragraph -->
                <div class="paragraph-image">
                    <h4>
                        It’s our goal to give you the most productive platform for supporting and booking musicians. No middle man. All money to the musicians. Live music done your way. This really is live music on a whole nother level. We’d love to see you there.
                    </h4>
                    <img class="people-images" src="images/people-working.jpeg">

                    <a class="get-started-button" href="/signup">Get started</a>
                </div>
                <!-- Third paragraph -->
                <hr/>
            </div>
            <!-- Section for Music lovers -->

            <!-- Section for Musicians -->
            <div style="margin-top: 45px;">
                <h1>For musicians,</h1>
                <!-- First paragraph -->
                <div class="paragraph-image">
                    <h4>
                        Here at Mi Agent we know that it can be difficult to find agents and get booked. To expand your horizon of possibility. And let people know you're there. That’s why Mi agent was created. To give artists like you a platform to thrive on.
                    </h4>
                    <img class="people-images" src="images/band-playing.jpeg">
                </div>
                <!-- First paragraph -->
                <hr/>
                <!-- Second paragraph -->
                <div class="paragraph-image">
                    <h3>
                        We allow users to message you directly so that you can find the perfect fit at just the right price.
                    </h3>
                    <div class="zero-percent">
                        $
                    </div>
                </div>
                <!-- Second paragraph -->
                <hr/>
                <!-- Third paragraph -->
                <div class="paragraph-image">
                    <h3>
                        At Mi Agent we believe that putting yourself out there should not come at a cost. That’s why we take 0% of all money that you earn.                    
                    </h3>
                    <div class="zero-percent">
                        0%
                    </div>
                </div>
                <!-- Third paragraph -->
                <hr/>
                <!-- Fourth paragraph -->
                <div class="paragraph-image">
                    <h4>
                        Right now there could be someone searching for you, in need of your talent, in need of your music. Mi Agent will allow them to find you, to connect with you, and to book you.                     </h4>
                    <img class="people-images" src="images/people-working.jpeg">

                    <a class="get-started-button" href="/signup">Get started</a>
                </div>
                <!-- Fourth paragraph -->
            <!-- Section for Musicians -->
        </div>
    </div>
</div>